	<div ui-view>
	<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">CRLs</div>
  <div class="panel-body">
    <p></p>
  </div>

  <!-- Table -->
  <table class="table">
    <thead>
				<tr>
					<th width="6%" scope="col">ID</th>
					<th width="84%" scope="col">Authority Key</th>
					<th width="10%" scope="col">CRL File</th>
				</tr>
	</thead>
	<tbody>
		<tr ng-repeat="lcr in lcrsList">
			<td width="6%">{{lcr.id}}</td>
			<td width="84%">{{lcr.chaveAutoridade}}</td>
			<td width="10%"><a href="{{lcr.url}}" download="lcr" target="_blank"><span class="glyphicon glyphicon-download" aria-hidden="true"></span></a></td>
		</tr>
	</tbody>
  </table>
</div>
		
	</div>






